.loginBtn{
    width: 50px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: orangered;
    color: white;
    font-size: 1em;
    font-weight: 500;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
}
.Main{
    margin-top:100px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.img2{
    max-width: 700px;
    max-height: 700px;
}
.form{
    background-color: rgb(238, 237, 235);
    width: 600px;
    height: 600px;
    border-radius: 10px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}
.formInput{
    margin: 20px 0;
    height: 50px;
    width: 400px;
    border-radius: 4px;
    padding: 0 10PX;
    font-size: 1.4em;
}

.formInput::placeholder{
    
    padding: 0 10px;
}
.formHead{
    font-size: 3em;
    
}